# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized as my final assignmnet.

**Objectives:**

* learn to create jupter notebook <br>
* apply blluted list
* apply diffrent headers lines
* apply orderd list

Some of the popular languages that Data Scientists use are:
1. pyhton
2. R 
3. julia
4. SQL.Objectives:

Some of the commonly used libraries used by Data Scientists include:
1.  BeautifulSoup
2.  Scrapy
3.  LightGBM
4.  NuPIC

| Data Science Tools |
| --- |
| KNIME |
| --- |
| WEKA |
| --- |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This a simple arithmetic expression to add tow integers

In [3]:
4+6

10

 This will convert 200 minutes to hours by diving by 60:

In [4]:
200/60

3.3333333333333335

## Author
Marwa Fikry